html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #333;
}

/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
li {
  list-style: none;
  color: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button {
  all: unset;
}

.hidden {
  font-size: 0;
  font-weight: 0;
  line-height: 0;
  color: transparent;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}
header .header-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header .header-btn {
  font-size: 2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}
header .header-btn:hover {
  color: #555;
}
header .header-btn.on {
  color: #333;
}
header .list-wrap {
  display: flex;
  justify-content: space-evenly;
  width: 90%;
  margin: 0 auto;
  padding: 15px 0;
}

.swiper-slide.slide {
  height: 100vh;
}
.swiper-slide .wrap {
  height: 100%;
}
.swiper-slide .title {
  margin-bottom: 30px;
  font-family: "Lobster", sans-serif;
  font-size: 4rem;
}

.slide p {
  font-size: 1.8rem;
  line-height: 1.5;
}
.slide-wrap {
  padding: 50px 0;
  box-sizing: border-box;
}
.slide-content {
  position: relative;
  padding: 30px;
}
.slide-content:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7) 5%, rgba(255, 255, 255, 0.7) 95%, transparent);
  z-index: -1;
}

.list-title {
  font-size: 3rem;
  font-weight: 700;
}
.list-text {
  margin-top: 20px;
}

.test {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/main_05.png), url(../images/main_05.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 200%;
  -webkit-animation: moveBg 30s linear infinite;
          animation: moveBg 30s linear infinite;
  z-index: -1;
}

@-webkit-keyframes moveBg {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}

@keyframes moveBg {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 100%;
  }
}
.home-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-title {
  width: 632px;
  font-family: "Lobster", sans-serif;
  font-size: 16rem;
  line-height: 1.3;
  -webkit-animation: fadeIn 2s alternate;
          animation: fadeIn 2s alternate;
  white-space: nowrap;
  overflow-x: hidden;
}

@-webkit-keyframes fadeIn {
  from {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 632px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 632px;
    opacity: 1;
  }
}
.about-content {
  width: 80%;
  margin: 0 auto;
}
.about-content__intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.about-content__intro img {
  width: 50%;
}
.about-content__intro p {
  width: 50%;
}
.about-content__list {
  margin-top: 30px;
}

.skill-list {
  margin-bottom: 30px;
}

.project-wrap {
  width: 100%;
}
.project-list__text--title {
  margin-bottom: 20px;
}
.project-list a {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 5px 5px 10px 3px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  overflow: hidden;
}
.project-list img {
  width: 100%;
}/*# sourceMappingURL=style.css.map */