html {
  font-family: "Noto Sans KR", sans-serif;
  font-size: 10px;
  font-weight: 400;
  color: #333;
}

/* reset.css */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
li {
  list-style: none;
  color: inherit;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

.hidden {
  font-size: 0;
  font-weight: 0;
  line-height: 0;
  color: transparent;
}

header {
  padding: 30px 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 2px 12px 1px rgba(0, 0, 0, 0.1);
  z-index: 1;
}
header.active {
  position: fixed;
}
header ul {
  display: flex;
  gap: 20px;
}
header ul li a {
  display: block;
  font-size: 2.4rem;
  font-weight: 700;
}

.wrap {
  width: 80%;
  margin: 0 auto;
}

section {
  padding-top: 100px;
  box-sizing: border-box;
}
section h2 {
  margin-bottom: 50px;
  font-size: 2.8rem;
  font-weight: 500;
  color: #000;
}
section .sec-tit {
  font-weight: 700;
}

.home {
  position: relative;
  height: calc(100vh - 84px);
  background-image: url(../images/main.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
.home h2 span {
  font-size: 1.6rem;
  color: #fff;
}
.home h2 p {
  margin-top: 20px;
  color: #fff;
}

.about .cont {
  margin-bottom: 30px;
}
.about .cont-tit {
  margin-bottom: 15px;
  font-size: 2rem;
  color: #888;
}
.about-cont li {
  font-size: 1.8rem;
  line-height: 1.5;
}

.skill .cont-tit {
  margin-bottom: 20px;
  font-size: 2rem;
}
.skill .cont-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.skill .cont-list li {
  width: calc(25% - 20px);
  padding: 30px;
  text-align: center;
  box-sizing: border-box;
}
.skill .cont-list li img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.skill .cont-list li img.w-60 {
  width: 60%;
}
.skill .cont-list li img.w-40 {
  width: 40%;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: start;
}
.project-list li {
  margin-bottom: 40px;
  width: calc(33.3333333333% - 17px);
}
.project-list li a {
  margin-bottom: 40px;
  border-radius: 15px;
  box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 250px;
}
.project-list li img {
  width: 100%;
  height: 100%;
}
.project-list__ex {
  display: flex;
  justify-content: start;
  gap: 35px;
  margin-left: 10px;
  width: 100%;
  font-size: 2rem;
}
.project-list__ex p {
  margin: 15px 0;
  word-break: keep-all;
}
.project-list__ex--tit {
  max-width: 90px;
  width: 100%;
}
.project-list__ex--tit p {
  font-weight: 700;
}

.contact {
  padding-bottom: 100px;
}
.contact-cont {
  padding-top: 30px;
  text-align: center;
}
.contact a {
  font-size: 3rem;
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 8px;
  }
  .wrap {
    width: 85%;
    margin-bottom: 20px;
  }
  header {
    padding: 25px 0;
  }
  .project-list li a {
    height: 200px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 7px;
  }
  header .wrap {
    margin-bottom: 0;
  }
  main {
    overflow: hidden;
  }
  .about-cont li {
    word-break: keep-all;
  }
  .skill .cont-list {
    gap: 15px;
  }
  .skill .cont-list li {
    width: calc(33.3333333333% - 15px);
    padding: 20px;
  }
  .project-list {
    flex-direction: column;
  }
  .project-list li {
    width: 100%;
    margin-bottom: 20px;
  }
  .project-list li a {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
