@charset 'utf-8';
@import url(font.css);


html {font-size: 10px;}
body {font-family: 'Noto Sans KR', sans-serif; font-size: 1.5rem; color: #555;}


#wrap {position: relative; width: 100%; margin: 0 auto; overflow: hidden;}

main {width: 100%;}
h2 {position: relative; text-align: center; font-family: 'Ubuntu',sans-serif; font-size: 4.8rem; font-weight: 500; color: #6667ab}
h2:before {content: ''; position: absolute; top: 100px; left: 50%; transform: translateX(-50%); width: 150px; height: 5px; background: #ebebf2; }
.fl {float: left;}
.fr {float: right;}
.mob {display: none;}


/*header*/
header {position: fixed; top: 0; left: 0; width: 18%; height: 100vh; z-index: 10;}
header .menu {position: fixed; top: 0; left: 10px; display: inline-block; font-size: 4.5rem; color: #333}
header nav {position: fixed; top: 0; left: 0; width: 18%; height: 100%; background: rgba(255, 255, 255, 0.7); box-shadow: 0 0 15px 2px rgba(0,0,0,0.1); display: none;}
header nav .close {position: absolute; top: 0; right: 20px; display: inline-block; font-size: 4.5rem; color: #333;}
header nav ul { width: 100%; margin-top: 200px;}
header nav ul li {position: relative; height: 100px;}
header nav ul li > a {position: relative; display: block; padding-right: 35px; text-align: right; font-family: 'Ubuntu',sans-serif; font-size: 5rem; line-height: 100px;}
header nav ul li > a:hover {color: #f1c215; font-weight: 500; transition: all 0.3s;}


/*main-visual*/
#main-visual {position: relative; width: 100%; height: 100vh; background: url(../img/main_2.png) no-repeat bottom 60% left 0/cover; }
#main-visual:after {content: ''; position: absolute; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.2);}
#main-visual h1 {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 1;}
#main-visual h1 .t-tit {display: block; text-align: center; font-family: 'Bad Script', sans-serif; font-size: 7rem; letter-spacing: 3px; color: rgba(167, 148, 215, 0.46); text-shadow: -1.5px 0 #fff, 0 1.5px #fff, 1.5px 0 #fff, 0 -1.5px #fff;}
#main-visual h1 .b-tit {display: block; text-align: center; font-size: 2.4rem; color: rgba(255, 255, 255, 0.8);}
#main-visual h1 .b-tit span {font-size: 3rem; font-weight: 700; color: #6667ab;}

/*about*/
#about {position: relative; width: 100%; height: 100vh; background: #fff; }
#about .about-area {height: 100%; border-top: 1px solid transparent }
#about .about-area > p {position: absolute; font-family: 'Kalam', sans-serif; font-size: 18rem; font-weight: 700; color: rgba(102, 103, 171, 0.05)}
#about .about-area .bg-t {top: 20px; left: -50px;}
#about .about-area .bg-b {bottom: 20px; right: -50px;}

#about .about-area .about-inner {width: 50%; margin: 200px auto 0; text-align: center}
#about .about-area .about-inner p {font-size: 2.2rem; line-height: 1.5; letter-spacing: -1px;}
#about .about-area .about-inner p:nth-child(2) {margin: 150px 0 30px 0;}

/*skill*/
#skill {height: 100vh; background: rgba(246, 246, 255, 0.5); border: 1px solid transparent}
#skill .skill-area {width: 100%; height: 100%; border-top: 1px solid transparent}
#skill .skill-area h2 {margin-top: 100px;}
#skill .skill-area p {margin-top: 100px; text-align: center; font-size: 2rem; }
#skill .skill-area p i {font-size: 2.4rem; color: #6667ab; padding-right: 5px;}
#skill .skill-area .skill-btn {position: relative; width: 900px; height: 300px; margin: 0 auto; margin-top: 130px;}
#skill .skill-area .skill-btn dl {float: left; margin-left: 100px;}
#skill .skill-area .skill-btn dl:first-child {margin-left: 0;}
#skill .skill-area .skill-btn dl dt {width: 150px; height: 80px; text-align: center; background: #f1c215; border-radius: 7px; border: 2px solid #f1c215; box-sizing: border-box; transition: all 0.3s;}
#skill .skill-area .skill-btn dl dt a {display: block; height: 70px; font-size: 2rem; padding-top: 25px; color: #fff; box-sizing: border-box;}
#skill .skill-area .skill-btn dl:nth-child(3) dt a, #skill .skill-area .skill-btn dl:nth-child(4) dt a {padding-top: 10px; }
#skill .skill-area .skill-btn dl dt:hover {background: #fff; }
#skill .skill-area .skill-btn dl dt:hover a {color: #f1c215; }

#skill .skill-area .skill-btn dl dd {position: absolute; top: 50%; left: 50%; transform: translateX(-50%); width: 65%; word-break: keep-all; text-align: center; font-size: 1.8rem; display: none;}

/*work*/
#work {height: 300vh; border: 1px solid transparent}
#work .work-area {width: 100%;}
#work .work-area h2 {margin-top: 50px;}
#work .work-area .work-cont {width: 80%; margin: 0 auto;}
#work .work-area > div + div {height: 100vh;}
#work .work-area > div:nth-child(2){height: 800px; margin-top: 60px;}

#work .work-area .work-cont > div {position: relative; width: 50%; height: 100%;}
#work .work-area .work-cont > div > div {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
#work .work-area .work-cont .txt .txt-box {width: 60%; margin: 0 auto; background: #fff;}
#work .work-area .work-cont .txt .txt-box p {margin-bottom: 20px;}
#work .work-area .work-cont .txt .txt-box .tit {font-size: 2.4rem;}
#work .work-area .work-cont .txt .txt-box .s-tit {padding-left: 20px; font-size: 2.2rem; font-weight: 700; color: #333; }
#work .work-area .work-cont .txt .txt-box .exp-tit {font-size: 2rem; font-weight: 500; }
#work .work-area .work-cont .txt .txt-box .exp-tit span {display: block; margin: 5px 0 20px; padding-left: 20px; font-size: 1.8rem; font-weight: 400; letter-spacing: -0.5px; word-break: keep-all;}

#work .work-area .work-cont .pic .pic-box {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 85%;}
#work .work-area .work-cont .pic .pic-box img {width:100%;}
#work .work-area .work-cont .pic .pic-box .btn {display: block; width: 160px; height: 45px; margin: 20px auto 0; text-align: center; font-size: 1.8rem; font-weight: 500; line-height: 45px; background: #fff; color: #9395bf; border: 1px solid #9395bf; box-sizing: border-box; transition: all 0.3s; border-radius: 5px; }
#work .work-area .work-cont .pic .pic-box .btn:hover { background: #9395bf; color: #fff;}

/*contact*/
#contact {height: 100vh; background: #6667ab; border: 1px solid transparent; text-align: center;}
#contact .contact-area h2 {margin-top: 100px; color: rgba(255, 255, 255, 0.9);}
#contact .contact-area p {font-size: 2.4rem; line-height: 2.2; color: #fff; margin-top: 200px;}
#contact .contact-area a {display: block; margin-top: 100px; color: #fff; font-family: 'Ubuntu', sans-serif; font-size: 3rem; transition: all 0.5s;}
#contact .contact-area a i {font-size: 3.2rem;}
#contact .contact-area a:hover {font-size: 3.5rem; color: rgba(241, 194, 21, 0.8);}

/*footer*/
footer {height: 60px; background: rgba(102, 103, 171, 0.2); text-align: center; font-size: 1.4rem; line-height: 60px; color: #888;}

/*1024px~1520px*/
@media screen and (min-width: 1024px) and (max-width: 1520px) {
	header {width: 40%;}
    header nav {width: 40%;}
	header nav ul li > a {font-size: 4.5rem;}
}

/*768px~1023px*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
	
	/*header*/
	header {width: 40%;}
	header nav {width: 40%; background: #fff;}
	header nav ul li > a { font-size: 3rem;}
	
	/*main-visual*/
	#main-visual {background-position: bottom 85% left 0}
	
	/*skill*/
	#skill .skill-area .skill-btn dl {margin-left: 50px;}
	#skill .skill-area .skill-btn dl:nth-child(1) {margin-left: 50px;}
	
	/*work*/
	#work .work-area > div {width: 90%;}
	#work .work-area .work-cont .txt .txt-box {width: 80%;}
	#work .work-area .work-cont .txt .txt-box .tit {font-size: 2.3rem;}
	
	/*footer*/
	footer {font-size: 1rem;}
}

/*~767px*/
@media screen and (max-width: 767px) {
	/*common*/
	h2 {position: relative; text-align: center; font-family: 'Ubuntu',sans-serif; font-size: 2.8rem; font-weight: 500; color: #6667ab}
	h2:before {top: 70px;width: 100px; }
	.fl {float: none;}
	.fr {float: none;}
	.mob {display: block;}
	.pc {display: none;}
	
	/*header*/
	header {width: 70%; z-index: 100}
	header .menu {font-size: 3rem;}
	header nav {width: 70%; background: #fff;}
	header nav .close {font-size: 3rem;}
	header nav ul {margin-top: 100px;}
	header nav ul li {height: 80px;}
	header nav ul li > a {font-size: 2.4rem; line-height: 80px;}
	/*main-visual*/
	#main-visual {background-position: bottom 0 left 0;}
	#main-visual h1 .b-tit {font-size: 1.6rem; color: rgba(85, 85, 85, 0.7);}
	#main-visual h1 .b-tit span {font-size: 2rem;}
	
	/*about*/
	#about .about-area > p {font-size: 8rem;}
	#about .about-area .bg-t {top: 20px; left: -30px;}
	#about .about-area .bg-b {bottom: 20px; right: -30px;}

	#about .about-area .about-inner {width: 80%; margin: 70px auto 0; }
	#about .about-area .about-inner p {font-size: 1.6rem; word-break: keep-all}
	#about .about-area .about-inner p:nth-child(2) {margin: 150px 0 30px 0;}
	
	/*skill*/
	#skill .skill-area h2 {margin-top: 60px;}
	#skill .skill-area p {margin-top: 60px; font-size: 1.5rem; }
	#skill .skill-area p i {font-size: 1.8rem;}
	#skill .skill-area .skill-btn {width: 100%; height: 400px; margin-top: 50px;}
	#skill .skill-area .skill-btn dl {float: none; display:inline-flex; margin-left: 24.33px; margin-bottom: 20px;}
	#skill .skill-area .skill-btn dl:first-child {margin-left: 24.33px}
	#skill .skill-area .skill-btn dl dd {top: 55% ;  width: 70%;font-size: 1.6rem;}
	
	/*work*/
	#work {height: 2550px;}
	#work .work-area h2 {margin-top: 40px;}
	#work .work-area .work-cont {width: 100%; max-height: 800px; margin-bottom: 20px;}
	#work .work-area > div:nth-child(2){height: 800px; margin-top: 50px;}

	
	#work .work-area > div + div {height: auto;}

	#work .work-area .work-cont > div {position: relative; top: 0; left: 50%; transform: translateX(-50%); width: 100%; height: 370px; }
	#work .work-area .work-cont > div > div {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
	#work .work-area .work-cont .txt {height: 400px; margin-top: 10px;}
	
	#work .work-area .work-cont .txt .txt-box {width: 90%;}
	#work .work-area .work-cont .txt .txt-box p {margin-bottom: 10px;}
	#work .work-area .work-cont .txt .txt-box .tit {font-size: 1.8rem;}
	#work .work-area .work-cont .txt .txt-box .s-tit {padding-left: 20px; font-size: 1.6rem;}
	#work .work-area .work-cont .txt .txt-box .exp-tit {font-size: 1.6rem;}
	#work .work-area .work-cont .txt .txt-box .exp-tit span {margin: 5px 0 15px; padding-left: 20px; font-size: 1.5rem; font-weight: 400; }

	#work .work-area .work-cont .pic .pic-box {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 85%;}
	#work .work-area .work-cont .pic .pic-box img {width:100%;}
	#work .work-area .work-cont .pic .pic-box .btn {display: block; width: 160px; height: 45px; margin: 20px auto 0; text-align: center; font-size: 1.8rem; font-weight: 500; line-height: 45px; background: #fff; color: #9395bf; border: 1px solid #9395bf; box-sizing: border-box; transition: all 0.3s; border-radius: 5px; }
	#work .work-area .work-cont .pic .pic-box .btn:hover { background: #9395bf; color: #fff;}
	
	/*contact*/
	#contact .contact-area p {font-size: 2rem; margin-top: 100px; word-break: keep-all;}

	/*footer*/
	footer {font-size: 1rem; line-height: 30px;}
	footer span {display: block;}
}











